@charset "UTF-8";
html {
  font-family: "Archivo", sans-serif;
}

h1 {
  color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
}

h2 {
  color: white;
  font-weight: 500;
  font-size: 70px;
  line-height: 70px;
}

h3 {
  color: black;
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
}

h3.contact {
  color: white;
}

h4 {
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
}

p {
  color: black;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

p.intro {
  color: white;
  padding-left: 2%;
}

p.contact {
  color: white;
}

a.contact {
  color: white;
  text-decoration: none;
}

a {
  color: black;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.contact {
  font-weight: 400;
  font-size: 50px;
  line-height: 50px;
  max-width: 50%;
}

a.intro {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: white;
  background-color: transparent;
  text-decoration: none;
  border: 1.5px solid white;
  padding: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
}

.number {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
  padding-top: 0%;
}

label.nav {
  padding-top: 2.5vh;
  font-size: 15px;
}

/*top-bar*/
.top-bar {
  background-color: black;
}

/*nav*/
input.nav {
  display: none;
}

label {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  font-size: 20px;
}

@media all and (min-width: 750px) {
  label.nav {
    padding-top: 1.5vh;
    font-size: 20px;
  }

  h1 {
    font-size: 20px;
  }

  .number {
    font-size: 30px;
    padding: 0%;
  }

  label.section1 {
    right: 0px;
  }

  label.section2 {
    right: 0px;
  }

  label.section3 {
    right: 0px;
  }

  label.section4 {
    right: 0px;
  }

  label.section5 {
    right: 0px;
  }

  label.section6 {
    right: 0px;
  }

  a.check {
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    font-size: 140px;
    line-height: 140px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  h3 {
    font-size: 90px;
    line-height: 80px;
  }

  a.intro {
    border: 1.5px solid white;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  p.web {
    width: 530px;
  }

  p.graphic {
    width: 530px;
  }

  h4 {
    font-size: 30px;
  }

  a.contact {
    font-weight: 400;
    font-size: 100px;
    line-height: 100px;
  }
}
@media all and (min-width: 1000px) {
  h1 {
    font-size: 20px;
  }

  .number {
    font-size: 30px;
    padding: 0%;
  }

  label.section1 {
    right: 0px;
  }

  label.section2 {
    right: 0px;
  }

  label.section3 {
    right: 0px;
  }

  label.section4 {
    right: 0px;
  }

  label.section5 {
    right: 0px;
  }

  label.section6 {
    right: 0px;
  }

  a.check {
    font-size: 20px;
    line-height: 24px;
  }

  h2 {
    font-size: 160px;
    line-height: 160px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }

  a.intro {
    border: 1.5px solid white;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  p.web {
    width: 530px;
  }

  p.graphic {
    width: 530px;
  }

  h4 {
    font-size: 30px;
  }

  h3 {
    font-size: 110px;
    line-height: 100px;
  }
}
/*nav*/
label.section1:hover {
  color: #BDCCD4;
}

label.section2:hover {
  color: #3FA9F5;
}

label.section3:hover {
  color: #EA5361;
}

label.section4:hover {
  color: #7AC943;
}

label.section5:hover {
  color: #FF931E;
}

label.section6:hover {
  color: #BDCCD4;
}

/*intro*/
a.intro:hover {
  background-color: white;
  color: black;
}

/*web
h3.web:hover{
  font-family: 'VT323';
  font-size: 110px;
  line-height: 90px;
  font-kerning: 100px;
}*/
/*graphic*/
div.foto-music:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/*check outs*/
a.check:hover {
  color: white;
}

/*contact*/
a.contact.mail:hover {
  color: #3FA9F5;
}

a.contact.behance:hover {
  color: #EA5361;
}

a.contact.instagram:hover {
  color: #7AC943;
}

a.contact.call-me:hover {
  color: #FF931E;
}

/*nav*/
.input-section1:checked ~ .top-bar .section1 {
  color: #BDCCD4;
}

.input-section2:checked ~ .top-bar .section2 {
  color: #3FA9F5;
}

.input-section3:checked ~ .top-bar .section3 {
  color: #EA5361;
}

.input-section4:checked ~ .top-bar .section4 {
  color: #7AC943;
}

.input-section5:checked ~ .top-bar .section5 {
  color: #FF931E;
}

.input-section6:checked ~ .top-bar .section6 {
  color: #BDCCD4;
}

/*web*/
a.web {
  text-decoration: underline;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 10px;
  padding-bottom: 9px;
  width: 280px;
  border-radius: 50px;
  background-color: white;
  color: black;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/*graphic*/
.graphic-h3 {
  cursor: pointer;
}

.bouncer {
  display: block;
  position: absolute;
  left: 249vw;
  top: 0vh;
  width: 100px;
  height: 100px;
  z-index: 100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.bouncer.y {
  background: #EA5361;
  border-radius: 50%;
  z-index: 100;
}

.x {
  -webkit-animation: moveX 5.5s linear infinite alternate;
          animation: moveX 5.5s linear infinite alternate;
}

.y {
  -webkit-animation: moveY 3.8s linear infinite alternate;
          animation: moveY 3.8s linear infinite alternate;
}

@-webkit-keyframes moveX {
  100% {
    -webkit-transform: translate(calc(100vw - 100px));
            transform: translate(calc(100vw - 100px));
  }
}

@keyframes moveX {
  100% {
    -webkit-transform: translate(calc(100vw - 100px));
            transform: translate(calc(100vw - 100px));
  }
}
@-webkit-keyframes moveY {
  100% {
    -webkit-transform: translateY(calc(100vh - 100px));
            transform: translateY(calc(100vh - 100px));
  }
}
@keyframes moveY {
  100% {
    -webkit-transform: translateY(calc(100vh - 100px));
            transform: translateY(calc(100vh - 100px));
  }
}
/*bouncer + hover :)*/
.bouncer.y:hover {
  background-image: url(../recursos/smiley.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

div.foto-intro {
  background-color: #BDCCD4;
  background-image: url(../recursos/yo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

div.foto-music {
  background-color: #BDCCD4;
  background-image: url(../recursos/music.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*top-bar*/
.top-bar {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 50px;
  bottom: 0%;
}

/*nav items
.nav{
  position: absolute;
  right: 30px;
}/*
label.section1{
  left:  15px;
}
label.section2{
  left:  70px;
}
label.section3{
  left:  115px;
}
label.section4{
  left:  185px;
}
label.section5{
  left:  240px;
}
label.section6{
  left:  290px;
}*/
label.section1 {
  padding-left: 20px;
}

label {
  position: relative;
  padding: 7px;
  bottom: -13px;
}

h2.intro {
  position: relative;
  top: -5%;
  left: 1%;
  background-color: transparent;
  z-index: 100;
}

div.intro {
  position: relative;
  top: 8%;
  left: 8%;
  z-index: 100;
  background-color: transparent;
}

p.intro {
  background-color: transparent;
  z-index: 100;
}

div.foto-intro {
  position: relative;
  width: 70%;
  height: 40%;
  top: -35%;
  left: 10%;
  z-index: 99;
}

p.intro {
  padding-left: 5%;
}

h3.web {
  position: relative;
  top: 0vh;
  left: 5%;
  background-color: transparent;
}

div.web {
  position: relative;
  max-width: 60%;
  top: -5vh;
  left: 20%;
  background-color: transparent;
}

a.web {
  position: relative;
  top: -5vh;
  left: 20%;
  background-color: transparent;
}

h3.graphic {
  position: relative;
  top: 0vh;
  left: 15%;
  background-color: transparent;
}

div.graphic {
  position: relative;
  max-width: 70%;
  top: -5vh;
  left: 5%;
  background-color: transparent;
}

a.graphic {
  position: relative;
  top: -5vh;
  left: 5%;
  background-color: transparent;
}

div.foto-music {
  position: relative;
  width: 85%;
  height: 50%;
  top: 3vh;
  left: -2%;
}

h3.music {
  position: relative;
  top: -12vh;
  left: 10%;
  z-index: 100;
  background-color: transparent;
}

a.music {
  position: relative;
  top: -18vh;
  left: 10%;
  z-index: 100;
  background-color: transparent;
}

h4.skills {
  position: relative;
  top: 10%;
  left: 15%;
  background-color: transparent;
}

div.skills {
  position: relative;
  max-width: 90%;
  top: 10%;
  left: 6.5%;
  background-color: transparent;
}

h4.studies {
  position: relative;
  top: 17%;
  left: 15%;
  background-color: transparent;
}

div.studies {
  position: relative;
  max-width: 85%;
  top: 17%;
  left: 6.5%;
  background-color: transparent;
}

h3.contact {
  position: relative;
  top: 10%;
  left: 2%;
  background-color: transparent;
}

ul.contact {
  padding-left: 0%;
  position: relative;
  top: 10%;
  left: 2%;
  background-color: transparent;
}

p.contact {
  padding-left: 0%;
  position: relative;
  top: 10%;
  left: 2%;
  background-color: transparent;
}

@media all and (min-width: 750px) {
  /*nav items

  label.section1{
    left:  15px;
  }
  label.section2{
    left:  85px;
  }
  label.section3{
    left:  140px;
  }
  label.section4{
    left:  225px;
  }
  label.section5{
    left:  290px;
  }
  label.section6{
    left:  347px;
  }*/
  h2.intro {
    top: -25px;
    left: 5vw;
  }

  div.intro {
    top: -125px;
    left: 15vw;
  }

  div.foto-intro {
    width: 500px;
    height: 600px;
    top: -600px;
    left: 10vw;
  }

  div.block-intro {
    position: relative;
    width: 500px;
    height: 2000px;
    background-color: black;
    bottom: -100px;
    z-index: 98;
  }

  p.intro {
    padding-left: 0.8%;
  }

  div.foto-music {
    width: 50vw;
    height: 120vh;
    top: -10vw;
    left: -24.9vw;
  }

  h3.music {
    top: -70vh;
    left: 20vw;
  }

  a.music {
    top: -78vh;
    left: 20vw;
  }

  h3.contact {
    top: 2vh;
    left: 10vw;
  }

  ul.contact {
    top: -3vh;
    left: 10vw;
  }

  p.contact {
    top: -4vh;
    left: 10.5vw;
  }
}
@media all and (min-width: 1000px) {
  /*nav items
  label.section1{
    left:  15px;
  }
  label.section2{
    left:  85px;
  }
  label.section3{
    left:  140px;
  }
  label.section4{
    left:  225px;
  }
  label.section5{
    left:  290px;
  }
  label.section6{
    left:  347px;
  }*/
  h2.intro {
    top: -25px;
    left: 10%;
  }

  div.intro {
    top: -125px;
    left: 35vw;
  }

  div.foto-intro {
    width: 500px;
    height: 600px;
    top: -675px;
    left: 20vw;
  }

  div.block-intro {
    position: relative;
    width: 500px;
    height: 2000px;
    background-color: black;
    bottom: -100px;
    z-index: 98;
  }

  p.intro {
    padding-left: 0.8%;
  }

  h3.web {
    top: 50px;
    left: 10vw;
  }

  div.web {
    top: 0px;
    left: 45vw;
  }

  a.web {
    top: 0px;
    left: 45vw;
  }

  h3.graphic {
    top: 60px;
    left: 30vw;
  }

  div.graphic {
    top: 10px;
    left: 35vw;
  }

  a.graphic {
    top: 10px;
    left: 35vw;
  }

  div.foto-music {
    width: 50vw;
    height: 120vh;
    top: -10vw;
    left: -24.9vw;
  }

  h3.music {
    top: -90vh;
    left: 27vw;
  }

  a.music {
    top: -100vh;
    left: 27vw;
  }

  .studies-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .studies-row {
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
  }

  h4.skills {
    top: 22vh;
    left: 17vw;
  }

  div.skills {
    width: 30vw;
    top: 20vh;
    left: 15vw;
  }

  h4.studies {
    top: 22vh;
    left: 10vw;
  }

  div.studies {
    width: 30vw;
    top: 20vh;
    left: 8vw;
  }

  h3.contact {
    top: -2vh;
    left: 10vw;
  }

  ul.contact {
    top: -12vh;
    left: 10vw;
  }

  p.contact {
    top: -10vh;
    left: 10.5vw;
  }
}
html {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

.body {
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  border: 2px solid black;
  overflow: hidden;
  /*Elimina esto si queires ver la capa entera.*/
}

.sections {
  width: 600%;
  /* 6 secciones, cada sección copua el 100% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.scroll-section {
  padding: 12px;
  height: 120vh;
  width: 100%;
}

.intro {
  background-color: black;
}

.web {
  background-color: #3FA9F5;
}

.graphic {
  background-color: #EA5361;
}

.music {
  background-color: #7AC943;
}

.studies {
  background-color: #FF931E;
}

.contact {
  background-color: black;
}

/* Checkboxes function */
.input-section1:checked ~ .sections {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.input-section2:checked ~ .sections {
  -webkit-transform: translateX(-16.6666%);
          transform: translateX(-16.6666%);
}

.input-section3:checked ~ .sections {
  -webkit-transform: translateX(-33.3332%);
          transform: translateX(-33.3332%);
}

.input-section4:checked ~ .sections {
  -webkit-transform: translateX(-49.9998%);
          transform: translateX(-49.9998%);
}

.input-section5:checked ~ .sections {
  -webkit-transform: translateX(-66.6664%);
          transform: translateX(-66.6664%);
}

.input-section6:checked ~ .sections {
  -webkit-transform: translateX(-83.333%);
          transform: translateX(-83.333%);
}