@charset "UTF-8";
html {
  font-family: "Archivo", sans-serif;
}

h1 {
  color: white;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}

h2 {
  color: white;
  font-weight: 500;
  font-size: 140px;
  line-height: 140px;
}

h3 {
  color: black;
  font-weight: 500;
  font-size: 100px;
  line-height: 100px;
}

h3.contact {
  color: white;
}

h4 {
  color: black;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}

p {
  color: black;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}

p.intro {
  color: white;
}

a.contact {
  color: white;
  text-decoration: none;
}

a {
  color: black;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.number {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 600;
}

/*nav*/
input.nav {
  display: none;
}

label {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  font-size: 60px;
}

/*nav*/
label.section1:hover {
  color: #BDCCD4;
}

label.section2:hover {
  color: #3FA9F5;
}

label.section3:hover {
  color: #FF7075;
}

label.section4:hover {
  color: #7AC943;
}

label.section5:hover {
  color: #FF931E;
}

label.section6:hover {
  color: #BDCCD4;
}

/*web*/
h3.web:hover {
  font-family: "VT323";
  font-size: 110px;
  line-height: 90px;
  -webkit-font-kerning: 100px;
          font-kerning: 100px;
}

/*graphic*/
/*check outs*/
a:hover {
  color: white;
}

/*contact*/
a.contact.mail:hover {
  color: #3FA9F5;
}

a.contact.behance:hover {
  color: #FF7075;
}

a.contact.instagram:hover {
  color: #7AC943;
}

a.contact.call-me:hover {
  color: #FF931E;
}

/*nav*/
.section1:checked {
  color: #BDCCD4;
}

.section2:checked {
  color: #3FA9F5;
}

.section3:checked {
  color: #FF7075;
}

.section4:checked {
  color: #7AC943;
}

.section5:checked {
  color: #FF931E;
}

.section6:checked {
  color: #BDCCD4;
}

div.foto-intro {
  background-color: #BDCCD4;
  background-image: url(/recursos/yo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

div.foto-music {
  background-color: #BDCCD4;
  background-image: url(/recursos/music.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

/*nav*/
input, h1.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*nav items*/
.nav {
  position: absolute;
  right: 30px;
}

label.section1 {
  right: 230px;
}

label.section2 {
  right: 190px;
}

label.section3 {
  right: 150px;
}

label.section4 {
  right: 110px;
}

label.section5 {
  right: 70px;
}

label.section6 {
  right: 30px;
}

h1.header {
  margin-left: 30px;
}

div.foto-intro {
  position: relative;
  width: 70%;
  height: 40%;
  top: -10%;
  left: 10%;
}

h2.intro {
  position: relative;
  top: -2%;
  left: 4%;
  z-index: 100;
  background-color: transparent;
}

div.intro {
  position: relative;
  top: -18%;
  left: 14%;
  z-index: 100;
  background-color: transparent;
}

p.intro {
  background-color: transparent;
}

h3.web {
  position: relative;
  top: 15%;
  left: 5%;
  background-color: transparent;
}

p.web {
  position: relative;
  max-width: 70%;
  top: 13.5%;
  left: 20%;
  background-color: transparent;
}

a.web {
  position: relative;
  top: 15%;
  left: 20%;
  background-color: transparent;
}

h3.graphic {
  position: relative;
  top: 5%;
  left: 30%;
  background-color: transparent;
}

p.graphic {
  position: relative;
  max-width: 70%;
  top: 3.5%;
  left: 5%;
  background-color: transparent;
}

a.graphic {
  position: relative;
  top: 5%;
  left: 5%;
  background-color: transparent;
}

div.foto-music {
  position: relative;
  width: 85%;
  height: 50%;
  top: 3%;
  left: -2%;
}

h3.music {
  position: relative;
  top: -4.5%;
  left: 33%;
  z-index: 100;
  background-color: transparent;
}

a.music {
  position: relative;
  top: -7.5%;
  left: 33%;
  z-index: 100;
  background-color: transparent;
}

h4.skills {
  position: relative;
  top: 5%;
  left: 19%;
  background-color: transparent;
}

div.skills {
  position: relative;
  max-width: 90%;
  top: 5%;
  left: 8.5%;
  background-color: transparent;
}

h4.studies {
  position: relative;
  top: 10%;
  left: 19%;
  background-color: transparent;
}

div.studies {
  position: relative;
  max-width: 90%;
  top: 10%;
  left: 8.5%;
  background-color: transparent;
}

h3.contact {
  position: relative;
  top: 0%;
  left: 7%;
  background-color: transparent;
}

ul.contact {
  padding-left: 0%;
  position: relative;
  top: 0%;
  left: 7%;
  background-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  background-color: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

.body {
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
  height: 100vh;
  border: 2px solid black;
  overflow: hidden;
  /*Elimina esto si queires ver la capa entera.*/
}

.sections {
  width: 600%;
  /* 6 secciones, cada sección copua el 100% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.scroll-section {
  padding: 12px;
  height: 120vh;
  width: 100%;
}

.intro {
  background-color: black;
}

.web {
  background-color: #3FA9F5;
}

.graphic {
  background-color: #FF7075;
}

.music {
  background-color: #7AC943;
}

.studies {
  background-color: #FF931E;
}

.contact {
  background-color: black;
}

/* Checkboxes function */
.section1:checked ~ .sections {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.section2:checked ~ .sections {
  -webkit-transform: translateX(-16.6666%);
          transform: translateX(-16.6666%);
}

.section3:checked ~ .sections {
  -webkit-transform: translateX(-33.3332%);
          transform: translateX(-33.3332%);
}

.section4:checked ~ .sections {
  -webkit-transform: translateX(-49.9998%);
          transform: translateX(-49.9998%);
}

.section5:checked ~ .sections {
  -webkit-transform: translateX(-66.6664%);
          transform: translateX(-66.6664%);
}

.section6:checked ~ .sections {
  -webkit-transform: translateX(-83.333%);
          transform: translateX(-83.333%);
}