/*------COLORES------*/

:root{
  --negro: black;
  --blanco: white;
  --azul: #3FA9F5;
  --rojo: #FF7075;
  --verde: #7AC943;
  --naranja: #FF931E;
}

/*------TIEMPOS------*/

:root{
  --tran-time: .3s;
}

/*------ESTILOS DE TEXTO------*/

html{
  font-family: 'Archivo', sans-serif;
}

h1{
  color: var(--blanco);
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
  float: left;
}


h2{
  color: var(--blanco);
  font-weight: 500;
  font-size: 140px;
  line-height: 140px;
}

h3{
  color: var(--negro);
  font-weight: 500;
  font-size: 100px;
  line-height: 100px;
}

h3.contact{
  color: var(--blanco);
}

h4{
  color: var(--negro);
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}

p{
  color: var(--negro);
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}

p.intro{
  color: var(--blanco);
}

p.contador.intro{
  color: var(--blanco);
}

p.contador.contact{
  color: var(--blanco);
}

a.contact{
  color: var(--blanco);
  text-decoration: none;
}

a{
  color: var(--negro);
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  transition: var(--tran-time);
}

/*------HOVERS------*/

/*web*/
h3.web:hover{
  font-family: 'VT323';
  font-size: 110px;
  line-height: 90px;
  font-kerning: 100px;
}

/*graphic*/

/*check outs*/
a:hover{
  color: var(--blanco);
}


/*contact*/
a.contact.mail:hover{
  color: var(--azul);
}
a.contact.behance:hover{
  color: var(--rojo);
}
a.contact.instagram:hover{
  color: var(--verde);
}
a.contact.call-me:hover{
  color: var(--naranja);
}


/*------POSICIONAMIENTO------*/

/*contador de pagina*/


/*intro*/
img.intro{
  width: 75%;
}
img.music{
  width: 50%;
}

/*------FUNCIONAMIENTO------*/

body {
    padding: 0;
    margin: 0;
    background-color: var(--negro);
  }
  
  * {
    box-sizing: border-box;
    font-family: 'Archivo', sans-serif;
  }
  
  .body {
    max-width: 100%;
    margin: 0 auto;
    background-color: var(--negro);
    height: 100vh;
    border: 2px solid black;
    overflow: hidden; /*Elimina esto si queires ver la capa entera.*/
  }
  
  .sections {
    width: 600%; /* 6 secciones, cada sección copua el 100% */
    display: flex;
    transition: transform .5s ease-in-out;
  }
  .scroll-section {
    padding: 12px;
    height: 100vh;
    width: 100%;
  }


  .intro {
    background-color: var(--negro);
  }
  .web {
    background-color: var(--azul);
  }
  .graphic {
    background-color: var(--rojo);
  }

  .music {
    background-color: var(--verde);
  }

  .studies {
    background-color: var(--naranja);
  }

  .contact {
    background-color: var(--negro);
  }
  
  /* Checkboxes function */
  .section1:checked ~ .sections{
    transform: translateX(0);
  }
  .section2:checked ~ .sections{
    transform: translateX(-16.6666%);
  }
  .section3:checked ~ .sections{
    transform: translateX(-33.3332%);
  }
  .section4:checked ~ .sections{
    transform: translateX(-49.9998%);
  }
  .section5:checked ~ .sections{
    transform: translateX(-66.6664%);
  }
  .section6:checked ~ .sections{
    transform: translateX(-83.3330%);
  }
  
  