//-----> $HOVER-STYLE

/*nav*/
label.section1:hover{
  color: $gris;
}
label.section2:hover{
  color: $azul;
}
label.section3:hover{
  color: $rojo;
}
label.section4:hover{
  color: $verde;
}
label.section5:hover{
  color: $naranja;
}
label.section6:hover{
  color: $gris;
}

/*intro*/
a.intro:hover{
  background-color: $blanco;
  color: $negro;
}

/*web
h3.web:hover{
  font-family: 'VT323';
  font-size: 110px;
  line-height: 90px;
  font-kerning: 100px;
}*/

/*graphic*/
div.foto-music:hover{
  filter: invert(1);
}
  
/*check outs*/
a.check:hover{
  color: $blanco;
}
   
/*contact*/
a.contact.mail:hover{
  color: $azul;
}
a.contact.behance:hover{
  color: $rojo;
}
a.contact.instagram:hover{
  color: $verde;
}
a.contact.call-me:hover{
  color: $naranja;
}
  


//-----> $CHECKED-STYLE
/*nav*/
.input-section1:checked ~ .top-bar .section1 {
  color: $gris;
  }
.input-section2:checked ~ .top-bar .section2 {
  color: $azul;
  }
.input-section3:checked ~ .top-bar .section3 {
  color: $rojo;
  }
.input-section4:checked ~ .top-bar .section4 {
  color: $verde;
  }
.input-section5:checked ~ .top-bar .section5 {
  color: $naranja;
  }
.input-section6:checked ~ .top-bar .section6 {
  color: $gris;
}


//-----> $TOOLTIP

/*web*/
a.web{
  text-decoration: underline;
}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
  transition: $tran-time;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 10px;
  padding-bottom: 9px;
  width: 280px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 50px;
  background-color: $blanco;
  color: $negro;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  transition: $tran-time;
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid $blanco;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

//-----> $CURSOR
/*graphic*/
.graphic-h3{
  cursor: pointer;
}



//-----> $BOUNCER
.bouncer {
  display:block;
  position: absolute;
  left: 249vw;
  top: 0vh;
  width:100px;
  height:100px;
  z-index: 100;
  transition: $tran-time;
  text-align:center;
}
.bouncer.y {
  background: $rojo;
  border-radius:50%;
  z-index: 100;
}
.x { animation: moveX 5.5s linear infinite alternate;}
.y { animation: moveY 3.8s linear infinite alternate;}
@keyframes moveX {
  100% { transform: translate( calc(100vw - 100px) ); }
}
@keyframes moveY {
  100% { transform: translateY( calc(100vh - 100px) ); }
}

/*bouncer + hover :)*/

.bouncer.y:hover {
  background-image: url(../../recursos/smiley.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  border-radius:50%;
}