//-----> $PLACING MÓVIL

//-----> NAV <-----\\
/*top-bar*/
.top-bar{
  display: inline-block;
  align-items: center;
  position: absolute;
  z-index: 90;
  width: 100%;
  bottom: 0%;
}

/*nav items*/
.nav{
  position: absolute;
  right: 30px;
}
label.section1{
  left: 73vw;
}
label.section2{
  left: 77vw;
}
label.section3{
  left: 81vw;
}
label.section4{
  left: 85vw;
}
label.section5{
  left: 89vw;
}
label.section6{
  left: 93vw;
}
h1.header{
  margin-left: 30px;
}

//-----> INTRO <-----\\
h2.intro{
  position: relative;
  top: -2%;
  left: 4%;
  z-index: 80;
  background-color: transparent;
}
div.intro{
  position: relative;
  top: 20%;
  left: 14%;
  z-index: 100;
  background-color: transparent;
}
p.intro{
  background-color: transparent;
}
div.foto-intro{
  position: relative;
  width: 70%;
  height: 40%;
  top: -28%;
  left: 10%;
}
div.block-intro{
  position: relative;
  width: 600px;
  height: 60px;
  background-color: $negro;
  top: -1730px;
}
p.intro{
  padding-left: 1.5%;
}


//-----> WEB <-----\\
h3.web{
  position: relative;
  top: 15%;
  left: 5%;
  background-color: transparent;
}
div.web{
  position: relative;
  max-width: 60%;
  top: 13.5%;
  left: 20%;
  background-color: transparent;
}
a.web{
  position: relative;
  top: 15%;
  left: 20%;
  background-color: transparent;
}

//-----> GRAPHIC <-----\\
h3.graphic{
  position: relative;
  top: 5%;
  left: 30%;
  background-color: transparent;
}
div.graphic{
  position: relative;
  max-width: 70%;
  top: 3.5%;
  left: 5%;
  background-color: transparent;
}
a.graphic{
  position: relative;
  top: 5%;
  left: 5%;
  background-color: transparent;
}

//-----> MUSIC <-----\\
div.foto-music{
  position: relative;
  width: 85%;
  height: 50%;
  top: 3%;
  left: -2%;
}
h3.music{
  position: relative;
  top: -4.5%;
  left: 33%;
  z-index: 100;
  background-color: transparent;
}
a.music{
  position: relative;
  top: -7.5%;
  left: 33%;
  z-index: 100;
  background-color: transparent;
}


//-----> STUDIES <-----\\
.studies-row{
  top: 10px;
}
h4.skills{
  position: relative;
  top: 5%;
  left: 19%;
  background-color: transparent;
}
div.skills{
  position: relative;
  max-width: 90%;
  top: 5%;
  left: 8.5%;
  background-color: transparent;
}
h4.studies{
  position: relative;
  top: 12%;
  left: 19%;
  background-color: transparent;
}
div.studies{
  position: relative;
  max-width: 85%;
  top: 12%;
  left: 8.5%;
  background-color: transparent;
}

//-----> CONTACT <-----\\
h3.contact{
  position: relative;
  top: 0%;
  left: 7%;
  background-color: transparent;
}
ul.contact{
  padding-left: 0%;
  position: relative;
  top: 0%;
  left: 7%;
  background-color: transparent;
}
p.contact{
  padding-left: 0%;
  position: relative;
  top: 0%;
  left: 7%;
  background-color: transparent;
}





@media all and (min-width: 1100px){

  //-----> NAV <-----\\
  /*nav items*/
  .number{
    padding-top: 1.3vh;
  }
  label.section1{
    left: 89.7vw;
  }
  label.section2{
    left: 91vw;
  }
  label.section3{
    left: 92.5vw;
  }
  label.section4{
    left: 94vw;
  }
  label.section5{
    left: 95.5vw;
  }
  label.section6{
    left: 97vw;
  }
  
  //-----> INTRO <-----\\
  h2.intro{
    top: -25px;
    left: 10%;
  }
  div.intro{
    top: -125px;
    left: 35vw;
  }
  div.foto-intro{
    width: 500px;
    height: 600px;
    top: -675px;
    left: 20vw;
  }
  div.block-intro{
    position: relative;
    width: 500px;
    height: 60px;
    background-color: yellow;
    bottom: 20px;
    z-index: 100;
  }
  p.intro{
    padding-left: .8%;
  }

  //-----> WEB <-----\\
  h3.web{
    top: 50px;
    left: 10vw;
  }
  div.web{
    top: 0px;
    left: 45vw;
  }
  a.web{
    top: 0px;
    left: 45vw;
  }

  //-----> GRAPHIC <-----\\
  h3.graphic{
    top: 60px;
    left: 30vw;
  }
  div.graphic{
    top: 10px;
    left: 35vw;
  }
  a.graphic{
    top: 10px;
    left: 35vw;
  }

  //-----> MUSIC <-----\\
  div.foto-music{
    width: 50vw;
    height: 120vh;
    top: -10vw;
    left: -24.9vw;
  }
  h3.music{
    top: -90vh;
    left: 43vw;
  }
  a.music{
    top: -100vh;
    left: 43vw;
  }

  //-----> STUDIES <-----\\
  .studies-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .studies-row{
    flex: 25%;
  }
  h4.skills{
    top: 22vh;
    left: 17vw;
  }
  div.skills{
    width: 30vw;
    top: 20vh;
    left: 15vw;
  }
  h4.studies{
    top: 22vh;
    left: 10vw;
  }
  div.studies{
    width: 30vw;
    top: 20vh;
    left: 8vw;
  }


  //-----> CONTACT <-----\\
  h3.contact{
  top: 0vh;
  left: 10vw;
  }
  ul.contact{
  top: -6vh;
  left: 10vw;
  }
  p.contact{
  top: -6vh;
  left: 10.5vw;
  }
}
