
//-----> $TEXT-STYLE

html{
    font-family: 'Archivo', sans-serif;
  }
  
h1{
  color: $blanco;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}
  
  
h2{
  color: $blanco;
  font-weight: 500;
  font-size: 140px;
  line-height: 140px;
}
  
h3{
  color: $negro;
  font-weight: 500;
  font-size: 100px;
  line-height: 100px;
}
  
h3.contact{
  color: $blanco;
}
  
h4{
  color: $negro;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}
  
p{
  color: $negro;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}
  
p.intro{
  color: $blanco;
  padding-left: 2%;
}

p.contact{
  color: $blanco;
}
  
a.contact{
  color: $blanco;
  text-decoration: none;
}
  
a{
  color: $negro;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  transition: $tran-time;
}

a.contact{
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
}

a.intro{
  transition: $tran-time;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: $blanco;
  background-color: transparent;
  text-decoration: none;
  border: 4px solid $blanco;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
}

.number{
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
  padding-top: 0%;
}

//-----> NAV <-----\\
/*top-bar*/
.top-bar{
  background-color: $negro;
}
/*nav*/
input.nav{
  display: none;
}
label{
  transition: $tran-time;
  color: $blanco;
  font-size: 60px;
}







@media all and (min-width: 500px){
  //-----> NAV <-----\\
  h1{
    font-size: 20px;
  }
  .number{
    font-size: 30px;
    padding: 0%;
  }
  label.section1{
    right: 0px;
  }
  label.section2{
    right: 0px;
  }
  label.section3{
    right: 0px;
  }
  label.section4{
    right: 0px;
  }
  label.section5{
    right: 0px;
  }
  label.section6{
    right: 0px;
  }
  //-----> TEXT STYLE <-----\\
  a.check{
    font-size: 20px;
    line-height: 24px;
  }
  h2{
    font-size: 140px;
    line-height: 140px;
  }
  p{
    font-size: 20px;
    line-height: 24px;
  }
  h3{
    font-family: 90px;
    line-height: 90px;
  }
  a.intro{
    border: 2px solid $blanco;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }
  p.web{
    width: 530px;
  }
  p.graphic{
    width: 530px;
  }
  h4{
    font-size: 30px;
  }
}


@media all and (min-width: 1100px){
  //-----> NAV <-----\\
  h1{
    font-size: 20px;
  }
  .number{
    font-size: 30px;
    padding: 0%;
  }
  label.section1{
    right: 0px;
  }
  label.section2{
    right: 0px;
  }
  label.section3{
    right: 0px;
  }
  label.section4{
    right: 0px;
  }
  label.section5{
    right: 0px;
  }
  label.section6{
    right: 0px;
  }
  //-----> TEXT STYLE <-----\\
  a.check{
    font-size: 20px;
    line-height: 24px;
  }
  h2{
    font-size: 160px;
    line-height: 160px;
  }
  p{
    font-size: 20px;
    line-height: 24px;
  }
  a.intro{
    border: 2px solid $blanco;
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }
  p.web{
    width: 530px;
  }
  p.graphic{
    width: 530px;
  }
  h4{
    font-size: 30px;
  }
}