//-----> $TEXT-STYLE

html{
    font-family: 'Archivo', sans-serif;
  }
  
h1{
  color: $blanco;
  font-weight: 400;
  font-size: 40px;
  line-height: 44px;
}
  
  
h2{
  color: $blanco;
  font-weight: 500;
  font-size: 140px;
  line-height: 140px;
}
  
h3{
  color: $negro;
  font-weight: 500;
  font-size: 100px;
  line-height: 100px;
}
  
h3.contact{
  color: $blanco;
}
  
h4{
  color: $negro;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}
  
p{
  color: $negro;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
}
  
p.intro{
  color: $blanco;
}
  
a.contact{
  color: $blanco;
  text-decoration: none;
}
  
a{
  color: $negro;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  transition: $tran-time;
}

a.contact{
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
}

a.intro{
  transition: $tran-time;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: $blanco;
  text-decoration: none;
  border: 2px solid $blanco;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 100px;
}

.number{
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 600;
}
  
/*nav*/
input.nav{
  display: none;
}
label{
  transition: $tran-time;
  color: $blanco;
  font-size: 60px;
}



@media all and (min-width: 1100px){
  
  a.check{
    font-size: 20px;
    line-height: 24px;
  }

  //-----> INTRO <-----\\
  h2{
    font-size: 160px;
    line-height: 160px;
  }
  p{
    font-size: 20px;
    line-height: 24px;
  }
  a.intro{
    font-size: 20px;
    line-height: 24px;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
  }

  //-----> WEB <-----\\
  p.web{
    width: 530px;
  }

  //-----> graphic <-----\\
  p.graphic{
    width: 530px;
  }
}
