//-----> $COLORS
$negro: black;
$blanco: white;
$azul: #3FA9F5;
$rojo: #EA5361;
$verde: #7AC943;
$naranja: #FF931E;
$gris: #BDCCD4;
$grad: linear-gradient(80deg, $azul 0%, $rojo 33.333%, $verde 66.666%, $naranja 100%);

//-----> $TIME
$tran-time: .3s;

